{% extends "base.html" %}
{% block extrahead %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
{% endblock %}
{% block tabs %}
  {{ super() }}
  <div id="scene" class="w-screen h-screen flex justify-center items-center relative top-[30px] z-[-1]">
    <div data-depth="1.00" class="flex justify-center items-center"><img src="assets/images/home/home_bg.png" class="w-screen h-screen scale-125"></div>
    <div data-depth="0.80" class="flex justify-center items-center"><img src="assets/images/home/home_trio.png" class="w-screen h-screen scale-125"></div>
  </div>
  {% endblock %}
  {% block content %}
  {% endblock %}
  {% block scripts %}
  {{ super() }}
  <script>
    var scene = document.getElementById('scene');
	  var parallax = new Parallax(scene);
  </script>
{% endblock %}
