@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Make it cover the entire #hero div */
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black */
    z-index: -1;
}

.swiper-pagination-bullet{
    @apply !bg-gray-200 dark:!bg-gray-700 !opacity-100;
}

.swiper-pagination-bullet-active{
    @apply !bg-gray-950 dark:!bg-white;
}

@keyframes loop {
    to {
        offset-distance: 100%;
    }
}
